html { padding:0; margin:0;}
body { position:relative; margin:0; padding:0; color:#666; font:normal 18px/28px "Open Sans", Helvetice, Arial, sans-serif; background:#fff;}
.clr:after { content:""; display:block; height:0; overflow:hidden; font-size:0; line-height:0; clear:both;}
.clear{clear: both;}
p { margin:0; padding:10px 0;}
a { color:#0000ff; text-decoration:underline;}
a:hover { color:#7777ff;}
a img { border:none;}
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; font-weight:bold; color:#000;}
h1 { padding:40px 0 24px; line-height:1.4em;}
h2 { padding:0 0 12px;}
.fl { float:left;}
.fr { float:right;}
.fn { float:none;}
.tal { text-align:left;}
.tac { text-align:center;}
.tar { text-align:right;}
.ucase { text-transform:uppercase;}
.lcase { text-transform:none;}
.bold { font-weight:bold;}
.italic { font-style:italic;}
strong { font-weight:bold;}
em { font-style:italic;}
form, menu, iframe { display:block; margin:0; padding:0; border:none;}
ol, ul, dl, li, dt, dd { margin:0; padding:0; list-style:none;}
* { outline:none;}


}
body{width: 1920px;
	height: 856px;

}
.golovna{background-image: url("../images/grid.png");
	background-repeat: no-repeat;
    width: 1920px;
	height: 856px;
	position: relative;
	
}
.golovna p{font-size: 61px;
	/*padding : 71px 0 0 873px;*/
	padding: 71px 0 36px 0;
	text-align: center;
	margin: 0;
	font-family: "Open Sans";
}
.golovna img{margin: 0 auto;
	display: block;
}

.logos {background: #ffffff;
	width: 1000px;
	height: 500px;
	margin: 0 auto;
	margin-top: 51px;

}
.ikon img{padding:10px 45px 10px 10px; 
	display: inline;
	float: left;

}
.in p{  
    font-size: 20px;
    line-height: 32px;
    text-align: left;
	margin: 0;
	padding:0 ;
	width: 402px;
	height: 335px;

}
.in{width: 400px;
	height: 418px;
    float: left;
    padding: 10px 38px 0 0;
    
}
.otziv img{padding: 0 20px 45px 0;
	float: left;
	}
.otziv p{float:  left;
	font-size: 14px;
	line-height: 22px;
	width: 295px;
	height:  52px;
	margin: 0;
	padding:0 ;

}
.otziv span{color:   red;
	padding: 17px 19px 46px 0;
	float: left;

}
.galka img{float: right;
	padding: 0 33px 64px  0;
}
.perehod img{float:left;
	padding: 26px 5px 0 0;

}
.perehod{padding: 0 0 0 918px;}