/*--------------------------Header------------------------*/
.container{
	width: 1050px;
	margin: 0 auto;
}
.header1{
	margin: 25px;
}
.header1Right{
	float: right;
}
.header1Right>a[href*="tel"]{
	color: #333;
	font-size: 22px;
	text-decoration: none;
}
.header1Right>a[href*="tel"]:hover{
	color: #111;
	text-shadow: 0px 0px 5px #000;
}
.header1Right>a[title*="об"]{
	display: table;
	width: 176px;
	height: 27px;
	text-transform: uppercase;
	color: #ec2026;
	font-size: 12px;
	border: 2px solid #ec2026;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
}
.header1Right>a[title*="об"]:hover{
	background-color: #ec2026;
	color: #fff;
}
/*______________________________FORM#1______________________________*/
.form1{
	background-image: url(../images/forma_background1.jpg);
	height: 760px;
	background-repeat: no-repeat;
	background-position: center;
}
.form1Head{
	background-color: rgba(255, 255, 255, 0.7);
	height: 195px;
}
.form1Head>.container>p{
	color: #333;
	font-weight: 600;
	font-size: 22px;
	line-height: 1.4;
}
.form1Head11{
	font-size: 74px;
	font-weight: 300;
}
.form1Head1{
	font-weight: 300;
}
form[name="firstForm"]{
	margin: 0 auto;
	width: 430px;
	height: 430px;
	background-color: rgba(0, 0, 0, 0.7);
}
form[name="firstForm"]>p {
	margin: 40px 0 0 0;
	font-size: 18px;
	color: #fff;
	padding: 0;
	line-height: 1.5;
}
form[name="firstForm"] ul{
	padding: 0;
	margin: 5px 0;
}
.FirstLineForm1{
	font-size: 23px;
}
form[name="firstForm"] li{
	list-style-image: url(../images/list_element.png);
	list-style-position: inside;
	color: #fff;
	line-height: 1.7;
	margin: 0 30px;
	font-weight: 500;
}
form[name="firstForm"] input{
	margin: 10px 0;
	padding: 0 15px;
	height: 35px;
	border: 1px solid #fff;
	width: 340px;
}
form[name="firstForm"] input:focus{
	border: 1px solid #ec2026;
}
form[name="firstForm"] input[type="submit"]{
	width: 260px;
	height: 48px;
	font-weight: 700;
	font-size: 19px;
	background-color: #fff;
	border: 2px solid #ec2026;
	margin: 25px 0 0 -113px;
	color: #ec2026;
}
form[name="firstForm"] input[type="submit"]:hover{
	background-color: #ec2026;
	color: #fff;
}
/*______________________________FORM#2______________________________*/
.middleForm{
	background-image: url(../images/forma_background2.jpg);
	height: 630px;
	background-repeat: no-repeat;
	background-position: center; 
}
.middleFormBlackSquare{
	background-color: rgba(0, 0, 0, 0.7);
	width: 1000px;
	height: 465px;
	margin: 0 auto;
	font-size: 37px;
	color: #fff;
}
.middleFormBlackSquare>p{	
	margin: 40px 0 0 0;
	line-height: 1.3;
}
.middleFormBlackSquare span.ucase{
	font-size: 46px;
	font-weight: 500;
}
.middleFormBlackSquare>div{
	float: left;
}
.middleForm li{
	list-style-image: url(../images/list_element.png);
	list-style-position: inside;
	color: #fff;
	line-height: 1.5;
	margin: 0 30px;
	font-weight: 300;
	font-size: 20px;
}
form[name="middleForm"]{
	float: right;
	width: 440px;
	border-left: 4px solid #ec2026;
}
form[name="middleForm"] input{
	margin: 15px 30px 0 40px;
	padding: 0 0 0 15px;
	height: 35px;
	border: 1px solid #fff;
	width: 353px;
}
form[name="middleForm"] input[name="name"]{
	margin: 25px 30px 0 40px;
}
form[name="middleForm"] input:focus{
	border: 1px solid #ec2026;
}
form[name="middleForm"] input[type="submit"]{
	width: 260px;
	height: 48px;
	font-weight: 700;
	font-size: 19px;
	background-color: #fff;
	border: 2px solid #ec2026;
	margin: 45px 140px 5px 40px;
	color: #ec2026;
}
form[name="middleForm"] input[type="submit"]:hover{
	background-color: #ec2026;
	color: #fff;
}